@model IEnumerable<SplitBasket.Models.GroceryItemDto>

@{
    ViewData["Title"] = "Grocery Items List";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="Add" class="btn btn-primary">Add New Grocery Item</a>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Date Purchased</th>
                <th>Purchased By</th>
                <th>Total Amount</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var groceryItem in Model)
            {
                <tr>
                    <td>@groceryItem.ItemId</td>
                    <td>@groceryItem.Name</td>
                    <td>@groceryItem.Quantity</td>
                    <td>@groceryItem.UnitPrice</td>
                    <td>@groceryItem.DatePurchased</td>
                    <td>@groceryItem.MemberName</td>
                    <td>@groceryItem.TotalAmount</td>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("Details", "GroceryItemsPage", new { id = groceryItem.ItemId })">View Details</a>
                    </td>
                    <td>
                        <a class="btn btn-secondary" href="@Url.Action("Edit", "GroceryItemsPage", new { id = groceryItem.ItemId })">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="@Url.Action("Delete", "GroceryItemsPage", new { id = groceryItem.ItemId })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
